* {
	box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

html {
  height: 100%;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
  line-height: 1;
  color: #353535;
}

body {
  height: 100%;
  font-size: 1.4rem;
  overflow-x: hidden;
  margin: 0px;
}

.allBlocks{
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 0px;
	width: 100%;
}
.block1{
	background-color: orange;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.logo{
	background-color: white;
	height: 80px;
	width: 20%;
	display: flex;
	justify-content:center;
	align-items: center;
	min-width: 20%;
	max-width: 20%;
}
.title{
	display: flex;
	background-color: white;
	height: 80px;
	width: 60%;
	justify-content: center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}
.search-container{
	float: right;
  	display: flex;
	background-color: white;
	height: 80px;
	width: 20%;
}

.search-container form input{
	display: block;
	flex-wrap: nowrap;
}

.block1 input[type=text] {
  padding: 4px;
  margin-top: 27px;
  margin-left: 20px;
  font-size: 17px;
  border: 1px solid #42a7f4;
  width: 70%;
  float: left;
}

.block1 .search-container button {
  float: left;
  padding: 4px;
  margin-top: 27px;
  margin-right: 7px;
  background-color: rgba(66, 167, 244, 0.7);
  font-size: 17px;
  border: 1px solid #42a7f4;
  border-left: none;
  cursor: pointer;
  width: 15%;
  color: white;
}

.block1 .search-container button:hover {
  background: rgb(66, 167, 244);
}

.fake-menu{
	display: none;
}

/*MENU*/
.nav{
	display: flex;
	width: 100%;
	justify-content: center;
}
.menu{
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin:0px;
	padding:0px;
} 
.sous-menu{
	display: none;
}

.menu li {
	list-style: none;
	height: 50px;
	width: 220px;
	opacity: 0.9;
	border-bottom: 3px solid orange;
	background-color: orange;
}
/*.has-children ul{
	display: flex;
}*/
.menu a{
	text-decoration: none;
	color: white;
	font-size: 18px; 
	height: 30px;
	width: auto;
	display: block;
	text-align: center;
	flex-direction:column;
	line-height: 52px;
}
.has-children:hover ul{
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin-top: 3px;
}
li:hover{
	opacity: 1;
	border-bottom: 3px solid orange;
}
/*FIN MENU*/

/*SLIDER*/
.slider{
	display: flex;
	background-color: white;
	width: 100%;
	height: 300px;
	justify-content: flex-start;
} 
.slider img{
	min-width: 2000px;
}
/*FIN SLIDER*/

/*FIL D'ARIANE*/
.ariane{
	display: flex;
	background-color: white;
	width: 100%;
	height: 30px;
	justify-content: center;
}
.breadcrumbs {
  display: flex;
  justify-content: left;
  flex-direction: space-around;
  position: relative;
  background-color: white;
  color: grey;
  white-space: nowrap;
  flex-wrap:nowrap;
}

.breadcrumb{
	padding: 0px 20px;
	text-decoration: none;
	color: #ff8c00;
	font-size: 16px; 
	height: 30px;
	width: auto;
	display: block;
	text-align: center;
	flex-direction:column;
	line-height: 30px;

}

/*FIN FIL D'ARIANE*/
/*BLOCK ARTICLES+TROMBI*/
.content{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}
/*TROMBI*/
.trombi{
	display: flex;
	background-color: rgba(255, 165, 0, 0.9);
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	border: 3px;
	color: white;
	font-size: 18px;
}
.trombi img {
	max-width: 65%;
	min-width: 65%;
}

/*FIN TROMBI*/

/*ARTICLES*/
.articles{
	display: flex;
	flex-wrap: wrap;
	background-color: #f9f9f9;
	justify-content: space-around;
	width: 70%;
	margin: 0px;
} 
.article1{
	display: flex;
	background-color: rgb(66, 167, 244);
	width: 40%;
	margin:20px;
	flex-direction:column;
	text-align: center;
	padding: 20px;
	color: white;
} 
.article1 img{
	max-width: 100%;
	min-width: 100%;
}
.article2{
	display: flex;
	background-color: rgb(66, 167, 244);
	width: 40%;
	margin:20px;
	flex-direction:column;
	text-align: center;
	padding: 20px;
	color: white;
}
.article2 img{
	max-width: 100%;
	min-width: 100%;
}
.article3{
	display: flex;
	background-color: rgb(66, 167, 244);
	width: 40%;
	margin:20px;
	flex-direction:column;
	text-align: center;
	padding: 20px;
	color: white;
}
.article3 img{
	max-width: 100%;
	min-width: 100%;
}
.article4{
	display: flex;
	background-color: rgb(66, 167, 244);
	width: 40%;
	margin:20px;
	flex-direction:column;
	text-align: center;
	padding: 20px;
	color: white;
}
.article4 img{
	max-width: 100%;
	min-width: 100%;
}
/*FIN ARTICLES*/



/*FOOTER*/
footer{
	display: flex;
	justify-content: space-around;
	background-color: white;
	width:100%;
}
.infos{
	display: flex;
	flex-direction: column;
	background-color: white;
	margin:20px;
	color: #ff8c00;
	text-transform: uppercase;
	line-height: 20px;
	/*padding-left: 40px;*/
	align-items: center;
	text-align: left;
}

.rs{
	display: flex;
	background-color: white;
	margin:20px;
	color: #ff8c00;
	text-transform: uppercase;
	justify-content: space-around;
	text-align: center;
}

.rs img{
	max-height: 30px;
	margin:6px;
}

/*CHANGEMENT DE TAILLE: TABLETTE*/
@media screen and (max-width: 640px) {
	.allBlocks{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.block1{
		display: flex;
		background-color: white;
	}
	.fake-menu{
		display: block;
		width: 20%;
		order: 1;
		background-color: orange;
		text-align: center;
		color: white;
		font-size: 40px;
		padding: 20px 0px;
	}
	.nav{
		display: none;
	}
	.search-container{
		width: 80%;
		order: 2;
	}
	.logo{
		order: 3;
		width: 30%;
	}
	.title{
		order: 4;
		width: 70%;
	}
	.title i{
		display: none;
	}
	.ariane{
		display: none;
	}
	.trombi{
		display: none;
	}
	.articles{
		width: 100%;
		height: 100%
	}
	.article1, .article2, .article3, .article4{
		width: 100%;
	}
	footer{
		flex-direction:column;
		align-self: center;
		background-color: white;
	}
	.rs{
		width: 100%;
		order: :1;
		color: #ff8c00;
		text-transform: uppercase;
		flex-direction: column;
		justify-content: center;
	}
	.rs img{
		max-height: 30px;
		max-width: 30px;
		margin:6px;
	}
	.icons{
		flex-direction: row;
	}
	.infos{
		width: 100%;
		order: 2;
		color: #ff8c00;
		text-transform: uppercase;
	}
}
/*CHANGEMENT DE TAILLE: MOBILE*/
@media screen and (max-width: 320px){
	.title{
		font-size: 9px;
		margin: 0px;
	}
	.rs{
		margin: 20px 0px;
	}
	.infos{
		margin: 20px 0px;
	}
	.title i{
		display: none;
	}
}