<!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      {{ title }}!
    </h1>
    <app-plante-create (planteCreated)="add($event)" (planteCanceled)="remove($event)" ></app-plante-create>
    <div class="plante-wrapper">
      <div class="min">
        <nav>
          <app-plante-thumbnail
            *ngFor="let plante of plantes"
            [plante]="plante"
            [isActive]="plante === currentPlante"
            (planteSelected)="setCurrent($event)"
          ></app-plante-thumbnail>
        </nav>
      </div>
      <div class="zoom">
        <app-plante-detail [plante]="currentPlante"></app-plante-detail>
      </div>
    </div>
  </div>
