#head{
    background-color: pink;
    height: 600px;
    width: 450px;
    border-radius: 50%;
}
.eyes{
    background-color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;    
}
#rightEye{
    margin-left: 25px;
}
#leftEye{
    margin: 135px 0px 0px 66px;
}
.pupils{
    background-color: black;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: 34px;
}
#mouth{
    background-color: red;
    height: 75px;
    width: 250px;
    margin: 95px 0px 0px 97px;
    border-radius: 50px;
}
@media screen and (max-width: 640px) {
    #head{
        background-color: aqua;
    }
  }