.red{
    color: white;
    background-color: red;
}
h1{
    letter-spacing: 2px;
    color: pink;
}
article{
    background-color: orange;
    padding: 15px;
}
article h2{
    text-align: center;
}
h2{
    color: white;
}
article h2{
    color: turquoise;
}
article > h2{
    color: yellowgreen;
}
article + h2{
    color: darkgreen;
}
h1, h2{
    border: 10px dotted brown;
}