/**
* HEADER
**/
body{
    margin: 0px;
}
header{
    background-color: grey;
    height: 350px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}
.logo, .searchForm{
    width: 20%;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 150px;
    align-self: center;
}
h1{
    width: 60%;
}
nav{
    width: 100%;
}
nav .menu{
    position: absolute;
    display: flex;
    width: 100%;
    background-color: blueviolet;
}
.menu li ul{
    display: none;
}
.menu li{
    background-color: blueviolet;
    width: 20%;
    height: 75px;
    list-style: none;
    text-align: center;
}
.menu a{
    color: white;
    line-height: 75px;
    font-size: 2em;
    text-decoration: none;
    width: 100%;
}
.menu li:hover ul{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.menu li ul li{
    width: 100%;
}
/**
* MAIN
**/
main{
    display: flex;
    flex-direction: column;
    
}
/**
* Article
**/

article{
    display: flex;
    flex-wrap: wrap;
    /* width: 80%; */
    align-self: center;
    margin: 15px 0 0 0;
    padding: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
article h2{
    width: 100%;
}
/* article p{
    width: 70%;

} */
article img{
    min-width: 150px;
    max-width: 300px;
    height: 100px;
}
.art{
    display: flex;
    flex-wrap: wrap;
}

.slider{
    display: flex;
}
.slider img{
    min-width: 600px;
}

/**
* FOOTER
**/