ul li ul {
	display: none;
}
li {
	list-style: none;
	height: 75px;
	width: 220px;
	opacity: 0.7;
	border-bottom: 3px solid orange;
	background-color: orange;
}
ul{
	display: flex;
}
a{
	color: white;
	height: 75px;
	width: 220px;
	display: block;
	text-align: center;
	line-height: 75px;
}
ul li:hover ul{
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin-top: 3px;
}

li:hover{
	opacity: 1;
	border-bottom: 3px solid orange;
}

/*.nav {
	background-color: orange;
}

.nav ul {
	list-style      : none;
	text-align      : center;
}

.nav a {
	background-color: orange;
	display        : flex;
	text-align     : center;
	text-decoration: none;
	padding        : 1em;
}

.nav .menu {
	display        : flex;
	flex-direction : row;
	justify-content: center;
	flex-wrap      : wrap;
}

.has-children {
	position: relative;
}

.has-children:hover > .sous-menu {
	display: flex;
	flex-direction: column;
	padding: 0px;
}

.sous-menu {
	display         : none;
	flex-flow       : column-wrap;
	min-width       : 100px;
	position        : absolute;
	background-color: lightblue;
	position        : static;
	flex-direction  : column;
}

.sous-menu a {
	text-align      : left;
	color           : white;
	background-color: blue;
}

.sous-menu2 {
	top             : 0px;
	left            : 100%;
	background-color: red;
	display         : flex;
	flex-direction  : row;
}*/