/*GRANDS ECRANS ORDI*/
@media (min-width:1281px){
  *{
    font-family: 'Lato', sans-serif;
  }
  article{
    border: solid limegreen 1px;
    margin: 2vw;
    font-size: 1vw;
    padding: 1%;
    height: auto;
    width: auto;
  }
  img{
    width: 30%;
    height: 30%;
  }
  .no-select{
    margin : 2vw;
    border: solid limegreen 1px;
    font-size: 1.5vw;
    padding: 2%;
    height: auto;
    width: auto;
  }
  button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3vw;
  }
}
/*ECRAN ORDI PETITS / MOYENS OU TABLETTE EN PORTRAIT*/
@media (min-width:960px) and (max-width:1280px){
  *{
    font-family: 'Lato', sans-serif;
  }
  article{
    border: solid limegreen 1px;
    margin: 3vw;
    font-size: 2vw;
    padding: 2%;
    height: auto;
    width: auto;
  }
  img{
    width: 40%;
    height: 40%;
  }
  .no-select{
    margin : 3vw;
    border: solid limegreen 1px;
    font-size: 2vw;
    padding: 2%;
    height: auto;
    width: auto;
  }
}
/*TABLETTE EN PORTRAIT OU SMARPHONE EN PAYSAGE*/
@media (min-width:480px) and (max-width:959px){
  *{
    font-family: 'Lato', sans-serif;
  }
  article{
    border: solid limegreen 1px;
    margin: 3vw;
    font-size: 2vw;
    padding: 2%;
    height: auto;
    width: auto;
  }
  img{
    width: 75%;
    height: 75%;
  }
  .no-select{
    margin : 3vw;
    border: solid limegreen 1px;
    font-size: 2vw;
    padding: 2%;
    height: auto;
    width: auto;
  }
}
/*SMARTPHONE EN PORTRAIT*/
@media (max-width:479px){
  *{
    font-family: 'Lato', sans-serif;
  }
  article{
    border: solid limegreen 1px;
    margin: 3vw;
    font-size: 2vw;
    padding: 2%;
    height: auto;
    width: auto;
  }
  img{
    width: 75%;
    height: 75%;
  }
  .no-select{
    margin : 3vw;
    border: solid limegreen 1px;
    font-size: 2vw;
    padding: 2%;
    height: auto;
    width: auto;
  }
}
